<ul class="nav-menu">
  <li class="nav-item">
     {{#link-to 'top-stories'}}<i class="fab fa-gripfire" title="Top stories"> </i> {{/link-to}}
    </li>
  <li class="nav-item">
     {{#link-to 'hn-show'}} <i class="fab fa-dropbox" title="HN Show"></i> {{/link-to}}
   </li>
  <li class="nav-item">
    {{#link-to 'new-stories'}} <i class="fas fa-bolt" title="New stories"></i> {{/link-to}}
  </li>
</ul>
